<nav class="navbar navbar-expand-lg bg-primary text-white" >
    <div class="container-fluid">
        <img src="../../assets/_image/logo.png" class="rounded-circle" alt="SIT-Logo" width="30" height="24">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link fw-bold active" aria-current="page" routerLink="product-list">{{authorName}}</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link fw-bold" routerLinkActive="active" routerLink="clothes">Product Details</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link fw-bold" routerLinkActive="active" routerLink="account">Accounts Details</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link fw-bold" routerLinkActive="active" routerLink="seller-page">Seller</a>
          </li>
        </ul>
      </div>
       